Type.Filter change the case of the property names by just lowering the first letter

[RFC 7644 section 3.4.2.2](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2.2) explains that the property names in filters are case insensitive.

Quoting:

>    Attribute names and attribute operators used in filters are case
>    insensitive.  For example, the following two expressions will
>    evaluate to the same logical value:
> 
>    filter=userName Eq "john"
> 
>    filter=Username eq "john"

But when creating a Filter, we get a stange behavior regarding the property names.

### Steps To Reproduce
Open a node REPL and run:
```js
> scimmy = require('scimmy')
> new scimmy.Types.Filter('USERNAME EQ "HELLO@Example.org"')
Filter(1) [
  Proxy [
    { uSERNAME: Proxy [Array] },
    {
      set: [Function: catchAll],
      deleteProperty: [Function: catchAll],
      defineProperty: [Function: catchAll]
    }
  ],
  expression: 'USERNAME EQ "HELLO@Example.org"'
]
```

The property `uSERNAME` has a confusing case.

### Expected Behavior

I suggest to use a consistent case, either by lowering the case of all the property name (simpler) or by allowing to access the property by any case through a `Proxy` like `filter[0].uSeRnAmE` (which is more complicated and I am not sure there are benefits).

Wdyt?