Filters on 'complex' attribute arrays don't seem to work

I have built my integration using scimmy and it mostly seems to be working.  However, I pulled down the example PostMan tests mentioned here https://github.com/scimmyjs/scimmy-routers/issues/10#issuecomment-1947715384

I brought in parse/filter from `scim2-parse-filter` for applying filters, but the attribute filtering seems to be automatic/built in.

The issue is that there is a test that hits `/Users?attributes=emails[type eq "work"]`.  The core problem is that even though I have data that should match this attribute filter, it doesn't seem to work correctly.  For example, you can see if I limit myself to ids I created to test, I have rows that do have an email sub-object of type "work":
![image](https://github.com/user-attachments/assets/080ca3c7-f5b5-41ba-8caf-9e1af101fd5f)

However, if I add back in the filter on `type eq "work"`, it finds no emails:
![image](https://github.com/user-attachments/assets/a22db6e4-9584-4aa9-9469-e63252957141)

Which I think is wrong

I put some breakpoints in this library and I ended up tracing down into `#filter` in `scimmy/dist/lib/types.js` and it seemed like the issue was that it would see that it was an array filter on a complex attribute, so it'd recurse onto the user.emails, then recurse to user.emails[0], but the `inclusions` object is empty because this if on line 1755 doesn't pass:
```js
for (let key in {...filterable}) if (Array.isArray(filterable[key]) && filterable[key][0] === "pr") { 
```
so the `emails.type` gets ignored, so its an empty object with no inclusions, so my emails[0] doesn't pass the filter `type eq "work"`, which when I bubble up to the part where its filtering the array, we see `v` is empty now, so it gets thrown out:

![image](https://github.com/user-attachments/assets/6a0f9618-ba5f-47a6-8253-9aad062ae867)

Hi @DillonSadofsky, thanks for raising this issue.

Could I start by asking which version of SCIMMY you're using? The logic in the `#filter` method was updated in [v1.2.3](https://github.com/scimmyjs/scimmy/releases/tag/v1.2.3), and the specific line you referenced is no longer present. I have however been able to reproduce this behaviour in the latest version ([v1.2.4](https://github.com/scimmyjs/scimmy/releases/tag/v1.2.4)).

I'm also wondering what the expected result of this request should be. As far as I can gather, the format of the attributes parameter in that request is invalid and should not contain the complex value filter component. According to [RFC7644§3.4.2.5](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2.5) (and again [in §3.9](https://datatracker.ietf.org/doc/html/rfc7644#section-3.9)), attribute names in the attributes parameter: `MUST be in standard attribute notation`. This is defined in [RFC7644§3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10) without reference to complex value filters and I believe is intended to act as a unique identifier for _"which attribute"_ as opposed to _"what value"_. Whilst `emails[type eq "work]` is a valid filter expression, the current behaviour is that it is treated as an unknown attribute name and ignored, as it is expected to be a comma-separated list of which attributes to include in the response (this is why when you add back the filter expression, you see a list of user IDs with no other attributes).

Based on the post-response script in the `ComplexAttribute tests -> Get user attributes` request, it seems as though the intention is to retrieve the email addresses for all users who have an email of type "work". Bearing in mind that the Postman collection, while incredibly useful, isn't entirely issue free, I believe this request should technically be expressed with a combination of the `filter` and `attributes` query parameters (i.e. `attributes=emails` and `filter=emails[type eq "work"]`). 

Let me know what you think of the above and whether it solves the issue for you?

Thanks,
Sam

Looks like I'm still on SCIMMY 1.2.2, though not on purpose, I guess I just didn't notice the minor versions while I was building my integration.  I'll update, though sounds as though its not related to the issue.  I didn't notice that they're not using the filter in a way that matches the RFC, I was just going through the test cases assuming they knew the protocols (and they don't seem to).  I agree with you on what I assume they were trying to do with that nested attribute filter and can see how it'd be useful if it was allowed.  Its not something I plan to use directly, I mostly thought I was reporting an issue with the compliance with the test cases, but you point out that maybe that isn't the case.  I appreciate your attention and am OK with either direction you go on this one.