Invalid values of startIndex lead to errors

According to RFC 7644, values of `startIndex` in the URL query have the following definition: `A value less than 1 SHALL be interpreted as 1. `

However, a request to `/Users?startIndex=0` or `/Groups?startIndex=0` fails with the following error: `Expected 'startIndex' parameter to be a positive integer in ListResponse message constructor`, instead of just using the value 1.

https://github.com/scimmyjs/scimmy/blob/8a25458fbc122e27d6b65cf52a91bdd0d140a62d/src/lib/messages/listresponse.js#L57 seems to do this correctly, but it's stopped before by the check in lines https://github.com/scimmyjs/scimmy/blob/8a25458fbc122e27d6b65cf52a91bdd0d140a62d/src/lib/messages/listresponse.js#L44-L49.

Should we just remove that check?

Related error also occurs for `count` on search, where value 0 should: `A negative value SHALL be interpreted as "0".  A value of "0" indicates that no resource results are to be returned except for "totalResults".` (RFC 7644, Section 3.4.2.4)

Currently, we just return `Expected 'count' parameter to be a positive integer` instead.

Hi @christiaangoossens, thanks for raising this issue 🙂

I believe the check in lines 44 to 49 of the ListResponse file was originally intended to prevent validity issues in bespoke usages. As you've pointed out though, negative integers don't technically invalidate requests, as they should just be treated as having values 1 and 0 for `startIndex` and `count` respectively. With this in mind I'm thinking the type check should be retained, but the minimum value comparison at the end be removed? This should allow the `Math.max` calls in lines 57 and 58 to kick in and constrain the values.

On a related note, the underlying issue allowing invalid values through to the ListResponse class is where the `startIndex` and `count` values are set in the `SCIMMY.Types.Resource` class. It would seem that the `Math.max` operations should also be performed when the values are set on the constraints?
https://github.com/scimmyjs/scimmy/blob/8a25458fbc122e27d6b65cf52a91bdd0d140a62d/src/lib/types/resource.js#L295-L300

Thanks,
Sam

Hi @christiaangoossens, apologies for the delay, version 1.2.4 has now been published to NPM with this fix included.