Should the User (and Group?) default schema contain "externalId"?

While going through the MS Entra ID Postman tests, I noticed a lot of usage of externalId, and my integration was generally working without it, but I noticed its not in the default SCIMMY User schema.  Since I've run into other situations where the saved tests were hitting non-standard stuff, I checked the RFC and it does seem like externalId is considered a common core attribute, like id ( https://datatracker.ietf.org/doc/html/rfc7643#section-3.1 ).  But the shipped \dist\lib\schemas.js doesn't contain reference to it.  I'm guessing others have added support for this, and I've seen references to it outside of MS Entra ID, so I'm guessing its more general than just one of MS's custom attributes.

Does everyone just manually extend the user schema to add this?  If so, can I see an example?  I've been using the vanilla User schema up till now, and I've got the externalId successfully coming in via ingress and saving, but when I return an object to be sent back, externalId seems to be dropped since its not in the schema.

I wonder if the load-bearing thing is that the RFC says `For backward compatibility, some existing schema definitions MAY list
   common attributes as part of the schema.` meaning maybe common attributes don't need to be explicitly mentioned?  Even if so, it seems like it needs to be in the SCIMMY schema or it isn't allowed to be returned due to how the resulting objects are serialized into the list.

Stepping through code a bit, it seems like when I set `externalId` on a returned User, it gets discarded by types.js line 1697 when it does `attribute.coerce(<the external id>, 'out')` because the config for that field is marked as just 'in'.  This may be me misunderstanding the RFC.  I get that they say the externalId must be set by the client, not the service provider, but I thought I needed to return it (when it was set) so they could filter by it.  Maybe that is wrong.  I'm guessing it is now that I see this explicit code.  I'll do some testing, I guess so long as the SCIMMY filtering can filter based on an externalId even though it gets coerced out, then this may just be compliant in a way I didn't expect.

Ok, nevermind, I talked myself out of it.  I see that `Users/?filter=externalId eq "22fbc523-6032-4c5f-939d-5d4850cf3e52"&count=200` worked, so my guess is this is all on purpose and I just didn't understand SCIM, sorry.

I've sort of talked myself back into this.  I've been working on this integration for awhile now and I've solved every other issue and I've got MS Entra ID working correctly for provisioning and deprovisioning with ONE minor issue left:
it constantly wants to resynch the users and groups' externalIds.

Why?  Because although they are set on ingress (and can be filtered correctly) since they stripped off on return/egress the object that goes out has undefined externalId, so Entra constantly thinks it needs to update it.  This isn't really 'breaking' the integration, but its super annoying.

I imagine I could solve this by just making externalId 'public' in the schema.  IE extending it and making it readable, but up till now I haven't had to customize the shipping schema, and so I don't have any examples of how to do that.  Does anyone have an opinion on why externalId acts the way it does?  Am I the only one getting this behavior with MS Entra ID?

I thought I could use the schema modifying .extend and .truncate to customize the schema myself, but apparently there is something special about externalId and it is maybe always excluded from the outbound object?  I tried this:

```ts
SCIMMY.Schemas.User.definition.truncate('externalId')
		SCIMMY.Schemas.User.definition.extend([new SCIMMY.Types.Attribute('string', 'externalId', { required: false })])
```
and externalId now shows up in my /scim/Schemas as I'd expect, but the values I populate into my objects when I egress them still don't show up.

I guess I don't know if this is the 'best' solution, but this did seem to work for me if anyone else ends up finding this in the future:
```ts
		// Mark externalId as a visible and retrievable field or it can't be mapped in external systems, which makes Entra ID mad
		const x: SCIMMY.Types.Attribute = SCIMMY.Schemas.User.definition.attribute('externalId') as never
		x.config.shadow = false
		x.config.returned = true
		x.config.direction = 'both'
		x.config.description = 'External identifier for the user'

		// Mark externalId as a visible and retrievable field or it can't be mapped in external systems, which makes Entra ID mad
		const y: SCIMMY.Types.Attribute = SCIMMY.Schemas.Group.definition.attribute('externalId') as never
		y.config.shadow = false
		y.config.returned = true
		x.config.direction = 'both'
		y.config.description = 'External identifier for the group'
```
the 'evil' `as never` type removal stuff there was because `.attribute` is typed to return either an attribute or a schema, and they have non-overlapping types, so it can't intuit what you can call on the result except .truncate.

When stepping through code, I think it was mostly `.direction` that trimmed off the field during egress, but based on the names of the attributes, shadow sounded like it'd keep a field from being returned, so I turned that off, and returned sounded like it should be on, and I thought I should give them descriptions so it'd show up well in `/scim/Schemas`

YMMV

Hi @DillonSadofsky, thanks for reopening this issue, you've given me a lot to address here!

First off, the `externalId` attribute, like the `id` and `meta` attributes, are defined as "Common Attributes" under [RFC7643§3.1](https://datatracker.ietf.org/doc/html/rfc7643#section-3.1), which are considered to be always part of a resource's schema but typically not explicitly listed in the schema. This _should_ mean that Entra ID knows that `externalId` always exists in the schema in the same way that `id` always exists in the schema, despite not explicitly being listed. Could you please check whether Entra ID still respects the `externalId` attribute if it remains as a "shadow" attribute (i.e. if you don't set `config.shadow` to false)?

Secondly, to the actual handling of the `externalId` attribute itself. Currently, it's marked with a direction of "in", and I believe the original intention here was that its value should only ever be set by the incoming request. As you've noticed, this consequently strips it from all outgoing responses, which is the expected behaviour for attributes like `password`, but in this instance is _not_ the desired behaviour. Short of building in some entirely new means of determining whether the `externalId` attribute on an outgoing response was present on an incoming request, I think the simplest solution here is to just remove the "in" direction from the `externalId` attribute (it defaults to a value of "both"). This will mean that if set, it won't be removed from outgoing responses anymore.

Thirdly, you seem to have identified a typing issue with the `attribute` method of the `SchemaDefinition` class. Specifically, the method is currently typed to return either an `Attribute` or `SchemaDefinition` instance, but doesn't include any means of differentiating the returned type. TypeScript treats `config` as an unknown, since the only properties that both classes share are `name`, `truncate`, and `coerce` (as opposed to inferring the value as an `Attribute` instance). In this case, I think the best approach to a solution would be to make the `attribute` method generic, allowing specification of either `Attribute` or `SchemaDefinition` as the return type, but defaulting to a return type of `Attribute`, since this is overwhelmingly the most likely return type. As an aside, you should be able to replace `as never` with `as SCIMMY.Types.Attribute` to get the correct inferred types of `x` and `y` in your code snippet.

Thoughts?

Hi @DillonSadofsky,
I've now released v1.3.4, which addresses these issues by:
- Setting the direction of the `externalId` attribute to "both", meaning it won't be stripped from outgoing responses, and
- Making the return type of the `attribute` method generic

Could you please update to this version and confirm whether Entra ID respects the new out-of-the-box configuration (i.e. with the `externalId` attribute still marked as a "shadow" attribute)?

Thanks,
Sam

I'll update to 1.3.4 and see what the vanilla code does.  I agree that Entra ID probably doesn't care about it being a shadow attribute.  It was correctly mapping/sending externalId "in" to my system on ingress without it being in the schema, it was just "mad" on every 15 minute resynch because it was not present on egress so it considered the users to have been 'modified' so it would always try to resend the externalIds.  So I think you're right that we can leave externalId as a shadow attribute, but simply make it Both.

I'm currently only testing MS Entra ID as an Identity Provider.  Possibly others are more liberal with their handling of ExternalId, so they might more tolerant of only "in" for a direction of that field, so its possible the previous default would've been ok and it could've just been a per-identity provider toggle, but I appreciate you changing the default.  Reading the RFC, there doesn't seem to be anything I'm seeing that seems to suggest that externalid is particularly sensitive/PII so I don't think it was necessarily intentional that it was "in" only, so I think I agree with your change, but if you ever find that people are complaining about this change and you need to change it back, I guess I'd just say that that should be a top level setting maybe in the config preferences.  Since, at least in my experience, smooth operation of MS Entra ID will require "both" for User and Group.externalId.

I'll do some testing.

Updated and tested, the types look better without `as never` evil.  I see that it now defaults to both as expected.  I'll work with my client to do a full test with Entra, but my instinct is that we're good.  Since it wasn't needed in /Schema for ingress, I doubt it was needed for egress.