SCIMMY should support the "display" sub-attribute for members on Group POST and PATCH

[RFC 7643, section 2.4](https://datatracker.ietf.org/doc/html/rfc7643#section-2.4) defines "display" as one of the default sub-attributes that could be provided in multi-valued attributes. This also applies to the "members" attribute of the Group resource. Currently SCIMMY will fail to ingress POST or PATCH requests that include members with "display" sub-attributes, since it is not included in the [Group schema](https://github.com/scimmyjs/scimmy/blob/main/src/lib/schemas/group.js#L18-L22).
I've run into this when trying to integrate with Okta's SCIM user-provisioning capability.

Hi @brianpeiris, thanks for noticing this!

It is indeed an omission, and another great example of how inconsistent the SCIM specification RFC seems to be - in the subsequent Resource Schema Representation section ([RFC7643§8.7.1](https://datatracker.ietf.org/doc/html/rfc7643#section-8.7.1)), the JSON representation of the Group resource schema is mysteriously missing the `display` attribute!

I'll add the `display` attribute to the default set of attributes for the `members` multi-value attribute as expected for release 1.1.0, however in the interim you should be able to add the `display` attribute to your Group schema with the following snippet:
```js
SCIMMY.Schemas.Group.definition.attribute("members").subAttributes.push(
    new SCIMMY.Types.Attribute("string", "value", {mutable: "immutable", description: "Human-readable name of the member of this Group."})
);
```

It should also be noted that technically, Okta should be querying your Service Provider to determine which attributes it supports before making any requests, but this is understandably outside your control.

Thanks for looking into this, and for the workaround. As far as I can tell, Okta does not make requests to verify the supported schema. Presumably they just interpreted the RFC to mean that these default attributes should be accepted by SCIM servers. In any case, hopefully it's a quick fix for SCIMMY.